* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--cor-fundo);
}
/* CSS para desativar o scroll quando o menu está aberto */
body.menu-open {
    overflow: hidden;
}

/* Váriaveis */
:root {

    /* Cores do modo escuro */
    --cor-fundo: #13131F;
    --cor-fundo2: #151524;
    --cor-destaque: #458FD3;

    /* Cores do modo claro */
    --cor-fundoClaro: #f5f5f5;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 7px; /* Largura da barra de rolagem vertical */
}
::-webkit-scrollbar-thumb {
    background-color: var(--cor-destaque); /* Cor do botão de arrastar */
}

/* Estilos do menu da página */
#menu{
    position: fixed;
    z-index: 998;
    width: 100%;
    border-bottom: 2px solid var(--cor-destaque);
    background-color: var(--cor-fundo);
    padding-top: 15px;
}
#logo{
    display: inline-block;
    margin-left: 10%;

    position: relative;
    bottom: 5px;
}
#logo img{
    width: 25px;
    cursor: pointer;
}
#menu-open{
    width: 250px;
    height: 100%;
    display: none;
    position: fixed;
    background-color: white;
    background-color: var(--cor-fundo);
    box-shadow: 12px 0 12px -10px black;
    border-right: 2px solid var(--cor-destaque);

    z-index: 999;
    color: white;
}
#dayAndHour{
    margin-top: 15px;
    margin-left: 19px;
}
#day, #hour{
    font-size: 12px;
    display: inline-block;
    color: var(--cor-destaque);
}
#menu-open img{
    right: 6%;
    width: 15px;
    float: right;
    position: relative;

    cursor: pointer;
    margin-top: 16px;
}
#menu-open li{
    cursor: pointer;
    transition: 0.2s;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
#menu-open a{
    color: white;
    text-decoration: none;
}
#menu-open ul{
    margin-top: 70px;
    margin-left: 30px;
}
#menu-open a:hover{
    transition: 0.2s;
    color: var(--cor-destaque);
}
#listLinkMenuOpen{
    padding-bottom: 30px;
    border-bottom: 1px solid var(--cor-destaque);
}
.qtdMenu{
    position: relative;
    float: right;
    right: 6%;
    color: gray;
}
#listLinkMenuOpen img{
    padding: 0;
    margin: 0;
    float: left;

    width: 20px;
    position: relative;
    bottom: 1px;
}
#listInformationMenuOpen{

}
#listInformationMenuOpen ul{
    margin-top: 40px;
    margin-left: 30px;
}
#listInformationMenuOpen img{
    padding: 0;
    margin: 0;
    float: left;

    width: 20px;
    position: relative;
    bottom: 1px;
}

/* Estilo do botão para mudar o tema da página */
#btnChangeColor {
    width: 60px;
    height: 26px;
    border-radius: 50px;
    background-color: var(--cor-destaque);
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 6px;
    right: 10%;
}
#ballChangeColor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--cor-fundo);
    transition: 0.2s;
    position: relative;
    top: 3.3px;
    left: 3px;
}

/* Estilo da segunda página home */
#home{
    width: 100%;
    padding-bottom: 170px;
    color: white;
    background-color: var(--cor-fundo2);
}
#apresentation {
    padding-top: 200px;
    padding-left: 10%;
}
#apresentationName {
    font-size: 45px;
}

/* Estilo dos contatos */
#contact {
    padding-top: 50px;
    padding-left: 10%;
}
#imgGit{
    transition: 0.2s;
    width: 37px;
}
#imgGit:hover{
    transition: 0.2s;
    transform: scale(1.15);
}
.spaceImg {
    margin-left: 15px;
    transition: 0.2s;
    width: 37px;
}
.spaceImg:hover{
    transition: 0.2s;
    transform: scale(1.15);
}
#Resume{
    padding-top: 50px;
}

/* Estilo do botão do curriculo */
#btnDownloadCv{
    width: 150px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 10%;
    text-align: center;
    border-radius: 50px;
    border: 1px solid var(--cor-destaque);
}
#btnDownloadCv:hover{
    transition: 0.2s;
    transform: scale(1.05);
    color: var(--cor-destaque);
}

/* Estilo da terceira página About me */
#aboutMe {
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 100px;
}
#titleAboutMe {
    padding-top: 100px;
}
.txtAboutMe {
    color: rgb(163, 163, 163);
    padding-top: 50px;
    width: 800px;
    margin: auto;
}

/* Estilo da terceira página Skills */
#skills {
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 100px;
    background-color: var(--cor-fundo2);
}

#titleSkills {
    padding-top: 100px;
}

#table {
    margin: auto;
    padding-top: 50px;
    width: 700px;
}
#tableSkills {
    margin: auto;
}
.tech{
    display: inline-block;
    height: 100px;
    width: 100px;

    transition: 0.2s;
    border: 1px solid var(--cor-destaque);
    position: relative;

    margin-bottom: 10px; /* Espaçamento vertical */
    margin-right: 10px; /* Espaçamento horizontal à direita */
}
.listSkills{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    white-space: nowrap; /* Impede a quebra de texto */
}
.tech:hover {
    transition: 0.2s;
    transform: scale(1.1);
    color: var(--cor-destaque);
}

/* Estilo da terceira página Projects */
#projects {
    color: white;
    padding-bottom: 100px;
}
#titleProjects {
    text-align: center;
    padding-top: 100px;
}
#cardsProjects{
    padding-top: 50px;
    width: 800px;
    margin: auto;
}
.cardProjectsImg{
    transition: 0.2s;
    height: 150px;
    width: 250px;
    
    margin-left: 5px; /* Espaçamento horizontal à direita */
    margin-right: 5px; /* Espaçamento horizontal à direita */
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid var(--cor-destaque);

    position: relative;
}
.cardProjectsImg:hover{
    transition: 0.2s;
    transform: scale(1.06);
}
.cardProjectsImg h3{
    margin-left: 20px;
    margin-top: 20px;

    font-weight: 400;
    color: var(--cor-destaque);
}
.cardProjectsImg p{
    margin-left: 20px;
    margin-top: 30px;

    font-size: 13px;
    font-weight: 400;

    color: rgb(158, 158, 158);
}

/* Estilo da terceira página Certificates */
#certificates {
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 100px;
    background-color: var(--cor-fundo2);
}
#titleCertificates {
    padding-top: 100px;
}

#cards{
    padding-top: 50px;
    width: 1100px;
    margin: auto;
}
.cardsImg{
    display: inline-block;
    height: 250px;
    width: 442px;

    transition: 0.2s;
    border: 1px solid var(--cor-destaque);
    position: relative;

    margin-bottom: 10px; /* Espaçamento vertical */
    margin-right: 10px; /* Espaçamento horizontal à direita */

    cursor: pointer;
}
#cards img{
    width: 440px;
    height: 248px;
}
.cardsImg h1{
    transition: 0.2s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap; /* Impede a quebra de texto */
    color: var(--cor-destaque);
    font-size: 18px;
}
.cardsImg:hover{
    transition: 0.2s;
    transform: scale(1.05);
}
.cardsImg:hover h1{
    transition: 0.2s;
    display: none;
}

/* Responsividade das Skills e Apresentation*/
@media (max-width: 769px){
    #table {
        transition: 0.2s;
        width: 500px;
    }
    #apresentation {
        width: 100%; 
        padding-top: 250px;
        padding-left: 0;
    
        text-align: center;
    }
    #btnDownloadCv{
        margin: auto;
    }
    #apresentationName{
        font-size: 50px;
    }
    #contact {
        width: 100%; 
        padding-top: 50px;
        padding-left: 0;
        text-align: center;
    }
}
@media (max-width: 518px){
    #table {
        transition: 0.2s;
        width: 400px;
    }
    #apresentationName{
        font-size: 45px;
    }
}
@media (max-width: 410px){
    #table {
        transition: 0.2s;
        width: 300px;
    }
    #apresentationName{
        font-size: 40px;
    }
}
@media (max-width: 340px){
    #apresentationName{
        font-size: 35px;
    }
}
/* Responsividade dos cards da área Projects */
@media (max-width: 830px){
    #cardsProjects{
        transition: 0.2s;
        width: 600px;
    }
}
@media (max-width: 630px){
    #cardsProjects{
        transition: 0.2s;
        width: 300px;
    }
}

/* Responsividade dos cards da área Certificates */
@media (max-width: 1300px){
    #cards{
        padding-top: 50px;
        width: 1000px;
        margin: auto;
    }
}
@media (max-width: 1100px){
    #cards{
        padding-top: 50px;
        width: 470px;
        margin: auto;
    }
}
@media (max-width: 505px){
    #cards{
        padding-top: 50px;
        width: 300px;
        margin: auto;
    }
    .cardsImg{
        border: 1px solid var(--cor-destaque);
        display: inline-block;
        height: 150px;
        width: 250px;
    }
    #cards img{
        width: 248px;
        height: 149px;
    }
    .cardsImg h1{
        transition: 0.2s;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap; /* Impede a quebra de texto */
        color: var(--cor-destaque);
        font-size: 18px;
    }
    .cardsImg h1{
        font-size: 15px;
    }
}

/* Resposividade dos texto da área About Me */
@media (max-width: 900px){
    .txtAboutMe {
        transition: 0.2s;
        width: 600px;
    }
}
@media (max-width: 700px){
    .txtAboutMe {
        transition: 0.2s;
        width: 500px;
    }
}
@media (max-width: 560px){
    .txtAboutMe {
        transition: 0.2s;
        width: 400px;
    }
}
@media (max-width: 450px){
    .txtAboutMe {
        transition: 0.2s;
        width: 300px;
    }
}
@media (max-width: 360px){
    .txtAboutMe {
        transition: 0.2s;
        width: 200px;
    }
}

/* Responsividade do menu lateral */
@media (max-width: 700px){
    #menu-open{
        width: 200px;
    }
}